<footer class="footer">
    <section class="footerSection">
        
        <div class="footerContainer">
            <div class="logoContainer">
                <h3>ScreenSync</h3>
                <p>Share Screen Securly</p>

            </div>
            <div class="linkContainer">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Share Screen</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="feedbackContainer">
                <h4>Feedback</h4>
                <form class="feedback-form">
                    <textarea placeholder="Your feedback..." rows="2" required></textarea>
                    <button type="submit">Submit</button>
                  </form>
            </div>
        </div>
        <div class="fcontainer">
            <p>&copy; 2023 ScreenShare. All rights reserved. Made by VISH@L.</p>
        </div>
        
    </section>
    
</footer>
<script src="/js/script.js"></script>
</body>
</html>